<div class="container">
  <h2>About Us</h2>
  <h4>Developer:</h4>
  <p>Felipe Garcia Maya</p>
  <p>Electronic Enginneer and System Engineering MSc candidate </p>

  <br>
  <h4>Application:</h4>
  <p>Angular Application develop for a employee test in Medellin, Colombia to a US Company</p>

  <br>
  <h4>Description:</h4>
  <p>AngularJS application developed with GitHub API</p>
  <p>Architecture MVC</p>

  <br>
  <h4>Repository:</h4>
  <a href="https://github.com/FelipeGarcia911/AngularApp">GitHub repository URL</a>

  <br>
  <h4>Disclaimer:</h4>
  <p>Agoust - 2018 <br> All Rights Reserverd <br> Only for educational propuse</p>

</div>
