<div class="container">
    <h2>Gist Details</h2>
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{gist.owner.avatar_url}}" class="rounded float-center rounded-circle" width="250px"/>
                </div>
                <div class="col-md-8">
                    <h3>{{gist?.description}}</h3> 
                    <div class="card">
                        <h4 class="card-header">Details</h4>
                        <div class="card-body">
                                <h5>URL:</h5> {{gist?.url}}  
                                <h5>Date Created:</h5> {{gist?.created_at}}  
                                <h5>Date Updated:</h5> {{gist?.updated_at}}  
                                <h5>Comments:</h5> {{gist?.comments}}  
                                <h5>Files:</h5> {{gist?.files?.length}}  
                                <ul n class="list-group">
                                        <li ng-if="gits != null" *ngFor="let file of gits?.files" class="list-group-item list-group-item-action">
                                                <h5>URL:</h5> {{file.filename}}
                                        </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
